/Makefile.am
/basename-lgpl.c
/dirname-lgpl.c
/dirname.h
/dosname.h
/errno.in.h
/error.c
/error.h
/getprogname.c
/getprogname.h
/intprops.h
/malloc.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/stdbool.in.h
/stddef.in.h
/stdio.in.h
/stdlib.in.h
/strerror-override.c
/strerror-override.h
/strerror.c
/string.in.h
/stripslash.c
/sys_types.in.h
/unistd.c
/unistd.in.h
/verify.h
/fstat.c
/gettimeofday.c
/lseek.c
/pread.c
/pwrite.c
/raise.c
/read.c
/signal.in.h
/sys_stat.in.h
/sys_time.in.h
/time.in.h
/write.c
/minmax.h
/rawmemchr.c
/rawmemchr.valgrind
/memrchr.c
/isatty.c
/strnlen.c
/mempcpy.c
/strchrnul.c
/strchrnul.valgrind
/memchr.c
/memchr.valgrind
/ftruncate.c
/alloca.in.h
/asnprintf.c
/float+.h
/float.c
/float.in.h
/itold.c
/limits.in.h
/lstat.c
/pathmax.h
/printf-args.c
/printf-args.h
/printf-parse.c
/printf-parse.h
/size_max.h
/snprintf.c
/stat.c
/stdint.in.h
/unlink.c
/vasnprintf.c
/vasnprintf.h
/wchar.in.h
/xsize.c
/xsize.h
/stpcpy.c
/strsep.c
/strndup.c
/canonicalize-lgpl.c
/malloca.c
/malloca.h
/malloca.valgrind
/readlink.c
/strdup.c
/getdelim.c
/getline.c
/strtol.c
/strtoul.c
/strtoull.c
/dup.c
/fcntl.in.h
/getpagesize.c
/mkstemp.c
/secure_getenv.c
/stpncpy.c
/strtoll.c
/tempname.c
/tempname.h
/vsnprintf.c
/byteswap.in.h
